:root {
  --accent: #659DBD;
}

* {
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}