main section {
  border-radius: 20px;
  box-shadow: 0px 0px 20px #e6e6e6;
  padding: 25px;
  margin: 20px;
  flex: 0 1 40%;
}

main section h2 {
  margin: 0 0 20px 0;
}

div#action-flex {
  display: flex;
  justify-content: space-evenly;
}

div#info-flex {
  display: flex;
  justify-content: space-between;
  color: #8f8f8f;
}

div#info-flex b {
  display: inline-block;
  color: black;
  font-size: 20pt;
  margin-bottom: 5px;
}

div.info-item {
  color: black;
  font-weight: bold;
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

div.info-item img {
  vertical-align: middle;
  margin-right: 20px;
  margin: -5px 20px 0 0;
}