span.icon-button {
  display: inline-block;
  background: var(--accent);
  color: white;
  padding: 10px 30px 10px 25px;
  margin: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}

span.icon-button img {
  vertical-align: middle;
  margin: -3px 10px 0 0;
  transform: scale(0.9);
}